@charset "UTF-8";
body {
    background-color: rgb(255, 255, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
    h1 {
        color: rgb(179, 38, 38);  
        background-color: rgb(197, 134, 24);
    }
    h2 {
        color: rgb(179, 38, 38); 
    } 
    