@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('./fontes/BebasNeue-Regular.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #89d9a9;
    --cor1: #53E18C;
    --cor2: #0FDB60;
    --cor3: #0CA84A;
    --cor4: #065C29;
    --cor5: #225C39;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
    --fonte-destaque: 'bebas', cursive;
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    color: white;
    min-height: 150px;
    padding-top: 30px;
}

header > p {
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 20px;

}

header > h1 {
    font-family: var(--fonte-destaque);
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 4px 6px var(--cor4);
    padding: 10px;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1.0s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main a {
    color: var(--cor4);
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.596);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-size: 1.2em;
    text-indent: 8px;
}

main ul {
    text-decoration: none;
}

footer {
    background-color: var(--cor4);
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 5px 0px;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.596);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin: 0px -10px 0px -10px;
    font-size: 1em;
    padding: 8px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer > a {
    text-decoration: none;
    color: white;
}

footer > a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
    font-weight: bold;
}

a.externo::after {
    content: '\00A0\1F517'; 
}

.video {
    background-color: var(--cor4);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}